<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/index.html' %} active{% endif %}" href="{{ site.production_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.url != "/index.html" %}
            {% if node.layout == "page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <hr>
      <a class="social-icon" href="http://twitter.com/{{ site.author.twitter }}"><i class="icon ion-social-twitter"></i></a>
      <a class="social-icon" href="http://linkedin.com/in/{ site.author.linkedin }}"><i class="icon ion-social-linkedin"></i></a>
      <a class="social-icon" href="http://github.com/{{ site.author.github }}"><i class="icon ion-social-github"></i></a>
    </nav>

    <p style='position: absolute; bottom: 0; font-size: small;'>&copy; {{ site.time | date: '%Y' }} all rights reserved.</p>
  </div>
</div>
